<h4>Congratulations you are still living :) :):)</h4>
<div class="container">
<div class="row">
  <div class="span8">
    
    You have lived <b><%= @days %></b> days 
  
  <h3>YOU HAVE JUST <%= 30000 - @days %> DAYS LEFT. START Kicking some ASS: D</h3>
  
</div>
</div>
  </div>
